extends ../layout

block head_script
	+rjs("/js/blog_new")

block title
	| 编辑文章

block content
	.col-sm-9
		form#blog_post_form(role='form', method="post", action="/u/#{blog.username}/blog/#{blog.id}")
			!= csrf_field
			input(name="_method", value='PUT', type="hidden")

			div.form-group
				label(for='title') 标题
				input#title.form-control(name='blog[title]', value="#{blog.title}")
			div.form-group
				label(for='body') 正文
				textarea#body.form-control(name='blog[body]', rows=20) #{blog.body}
			if blog.tags
				each t in blog.tags
					input(type='hidden', name='blog[tags]', value=t)

			a.btn.btn-default(href="/u/#{user.username}/blog/") 取消
			| &nbsp;
			input.btn.btn-success(type='submit', value='Save')

	.col-sm-3
		include ./include/tag_fields.jade