extends ../layout

block title
	| 我的博客

block content
	-if(docs.length)
		table.table
			tr
				th 标题
				th
				th
				th 最近更新时间
			each b in docs
				tr
					td
						a(href="/u/#{b.username}/blog/#{b.id}") #{b.title}
						| &nbsp;
						a.hover(href="/u/#{b.username}/blog/#{b.id}/edit") Edit
					td
						form.form-inline(action="/u/#{b.username}/blog/#{b.id}", method="post")
							| !{ csrf_field }
							input(type="hidden", name="_method", value="DELETE")
							button.hover.btn.btn-danger.btn-sm(type="submit")
								//- span.glyphicon.glyphicon-trash
								i.win-icon-delete
					td.tags
						each tag in b.tags
							a.label.label-info(href="/u/#{b.username}/blog/?tag=#{tag.replace(/\+/g,'%2B')}")= tag
					td
						time.text-muted(datetime="#{b.updated.toISOString()}")
		if (pages > 1)
			ul.pagination
				!= createPagination(pages, page)
	-else
		p You don't have any blogs!
