extends ../layout

block title
  | #{entry.title}

block head_css
  link(rel='stylesheet', href='/css/rainbow/solarized-light.css')

block head_script
  +rjs("/js/blog_show")

block content
  .col-xs-9
    h1 #{entry.title}

    != entry.mdRender
    div.meta
      span.text-muted 阅读次数#{entry.meta.exposures}
          |&nbsp;
      span.text-muted 更新于 
          time(datetime="#{entry.updated.toISOString()}")
    a(href="/u/#{entry.username}/blog/") 返回
  .col-xs-3
    if entry.tags.length
      .panel.panel-default(style="margin-top:20px")
        .panel-heading 标签
        .panel-body
          each tag in entry.tags
            a.label.label-info(href="/u/#{entry.username}/blog/?tag=#{tag.replace(/\+/g,'%2B')}")= tag
